body.bg{
	background: url('../images/homebg.jpg') no-repeat;
	background-size: cover;
}

/*.overlap-gradient{
	width:100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 74%, rgba(0,0,0,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 70%,rgba(0,0,0,0) 71%,rgba(0,0,0,0) 74%,rgba(0,0,0,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 70%,rgba(0,0,0,0) 71%,rgba(0,0,0,0) 74%,rgba(0,0,0,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
*/
.overlap-gradient{
	width:100%;
	height: 100%;
	background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));;
	background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.no-shadow{
	box-shadow:none !important;
}

.no-shadow:hover{
	box-shadow:none !important;
}